{% extends "base.html" %}


{% block content %}
{% if error %}
    <div class=" alert alert-danger">{{ error }}</div>
{% endif %}
<div class="d-flex align-items-center" style="min-height:75vh;">
    <form class = "w-50 p-3 m-auto border border-warning border-5 rounded-5 bg-dark text-light" action="/users/{{current_user.id}}/skills/{{skill}}/edit" method="POST" id="edit-skill">
        <h5 class="text-center">Edit Skill</h5>
        <div class="form-group " id = "form-container">
            {{ form.hidden_tag() }}
            {% for field in form if field.widget.input_type != "hidden" %}
            <div class="form-group mb-2">
                {% if field.type == "BooleanField" %}
                {{field.label}}
                {{field}} 
                {% else %}
                {{field.label}}
                {{field(class_="form-control")}}
                {% endif %}
                </div>
                {% for error in field.errors %}
                <div class=" alert alert-danger">{{ error }}</div>
                {% endfor %}
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-warning" form="edit-skill">Edit Skill</button>
        <button type="submit" class="btn btn-danger" form="delete-skill">Delete Skill</button>
    </form>
    <form action="/users/{{current_user.id}}/skills/{{skill.id}}/delete" method="POST" id="delete-skill">
    </form>
</div>
</body>
{% endblock %}

