{% extends "base.html" %}


{% block content %}
{% if error %}
    <div class=" alert alert-danger">{{ error }}</div>
{% endif %}
<div class="d-flex align-items-center" style="min-height:75vh;">
    <form class = "w-50 p-3 m-auto border border-info border-5 rounded-5" action="/users/{{current_user.id}}/projects/{{project.id}}/edit" method="POST">
        <div class="form-group " id = "form-container">
            {{ form.hidden_tag() }}
            {% for field in form if field.widget.input_type != "hidden" %}
               {% for error in field.errors %}
                <div class=" alert alert-danger">{{ error }}</div>
               {% endfor %}
            <div class="form-group mb-2">
                {% if field.type == "BooleanField" %}
                {{field.label}}
                {{field}} 
                {% else %}
                {{field.label}}
                {{field(class_="form-control")}}
                {% endif %}
                </div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
{% endblock %}
