


{% block content %}
{% if error %}
    <div class=" alert alert-danger">{{ error }}</div>
{% endif %}
<div  style="min-height:75vh;">
    <form class = "w-75 p-3 m-auto" action="/users/{{current_user.id}}/projects/{{project.id}}/edit" method="POST" id="edit-project">
        <div class="form-group " id = "form-container">
            {{ form.hidden_tag() }}
            {% for field in form if field.widget.input_type != "hidden" %}
            <div class="form-group mb-2">
                {% if field.type == "BooleanField" %}
                {{field.label}}
                {{field}} 
                {% else %}
                {{field.label}}
                {{field(class_="form-control")}}
                {% endif %}
                </div>
                {% for error in field.errors %}
                <div class=" alert alert-danger">{{ error }}</div>
                {% endfor %}
            {% endfor %}
        </div>
        <button type="submit" class="btn link-button" form="edit-project">Edit Project</button>
        <button type="submit" class="btn btn-danger" form="delete-project">Delete Project</button>
    </form>
    <form action="/users/{{current_user.id}}/projects/{{project.id}}/delete" method="POST" id="delete-project"></form>
</div>
</body>
{% endblock %}
