
{% block content %}
<div class="col">
{% if error %}
    <div class=" alert alert-danger">{{ error }}</div>
{% endif %}

<div class="d-flex align-items-center mt-2" style="min-height:75vh;">
    <form id = "add-project-form" class = "w-75 p-3 m-auto" action="/users/{{current_user.id}}/projects/add" method="POST">
        <h5 class="text-center">Add a Project</h5>
        <div class="form-group " id = "form-container">
            {{ form.hidden_tag() }}
            {% for field in form if field.widget.input_type != "hidden" %} 
            <div class="form-group mb-2">
                {% if field.type == "BooleanField" %}
                {{field.label}}
                {{field}} 
                {% else %}
                {{field.label}}
                {{field(class_="form-control")}}
                {% endif %}
                </div>
                {% for error in field.errors %}
                <div class=" alert alert-danger">{{ error }}</div>
                {% endfor %}
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-warning">Submit</button>
        <button id="cancel-button" type="button" class="btn btn-warning" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
    </form>
</div>
</div>
</body>
{% endblock %}
