{% extends "/update/home/home_base.html" %}

{% block title %}
{% endblock %}

{% block content %}
<div   id = "tab-content" class="tab-content col m-0 p-0" style="max-height:85vh; box-sizing:border-box">
    <div  class="tab-pane fade p-0 m-0 show active" id="home-container" role="tabpanel" aria-labelledby="home-tab" tabindex="0" style="height:100%; overflow-y:scroll; overflow-x:hidden;">
      This will be the homepage description
    </div>
    <div  style="height:100%; overflow-y:scroll" class="tab-pane fade" id="login-container" role="tabpanel" aria-labelledby="login-tab" tabindex="0">
        <div class="col d-flex align-items-center" style="min-height:75vh;">
            <form id="login-form" class = "w-50 p-3 m-auto" action="/login" method="POST">
                <h5 class="text-center">Login</h5>
                <div class="form-group ">
                    {{ login_Form.hidden_tag() }}
                    {% for field in login_Form if field.widget.input_type != "hidden" %} 
                        <div class="form-group mb-2">
                            {{field.label}} 
                            {{field(class_="form-control")}} 
                        </div>
                        {% for error in field.errors %}
                        <div class=" alert alert-danger">{{ error }}</div>
                        {% endfor %}
                    {% endfor %}
                </div>
                <button form="login-form" type="submit" class="btn btn-warning">Login</button>
            </form>
        </div>
    </div>
    <div  style="height:100%; overflow-y:scroll" class="tab-pane fade" id="register-container" role="tabpanel" aria-labelledby="register-tab" tabindex="0">
        <div class="col d-flex align-items-center" style="min-height:75vh;">
            <form id="register-form" class = "w-75 p-3 m-auto" action="/api/register" method="POST">
                <h5 class="text-center">Register</h5>
                <div class="form-group ">
                    {{ register_Form.hidden_tag() }}
                    {% for field in register_Form if field.widget.input_type != "hidden" %} 
                        <div class="form-group mb-2">
                            {{field.label}} 
                            {{field(class_="form-control")}} 
                        </div>
                        {% for error in field.errors %}
                        <div class=" alert alert-danger">{{ error }}</div>
                        {% endfor %}
                    {% endfor %}
                </div>
                <button form ="register-form" type="submit" class="btn btn-warning">Register</button>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
<script src="/static/home.js"></script>
{% endblock %}