{% extends "public_base.html" %}

{% block content %}
<div class="container mt-5" data-id="{{current_user.id}}" id="user-profile-container" style="width:80vw; position:relative;">
    
<div class="row mb-5 w-100 justify-content-between">
    
    <div class="col-4" style="height:45vh;">
        <div class="card h-100 bg-dark text-light border border-3 border-warning" style="width: 18rem;">
            <img src="{{user.profile_picture_url}}" class="card-img-top p-2" style="height:28vh; object-fit:fill;">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title">{{current_user.first_name}}</h5>
                        <h5 class="card-title">{{current_user.last_name}}</h5>
                    </div>
                </div>
              <div class="col d-flex align-items-center justify-content-between" style="height:8vh;">
                {% if user.github_url %}
                <a class = "btn btn-secondary" href="{{user.github_url}}">GitHub</a>
                {% endif %}
                {% if user.linkedin_url %}
                <a class="btn btn-primary" href="{{user.linkedin_url}}">LinkedIn</a>
                {% endif %}
                {% if user.website_url %}
                <a class="btn btn-info" href="{{user.website_url}}">Website</a>
                {% endif %}
              </div>
              
            </div>
          </div>
    </div>
    <div class="col text-center bg-dark text-light border border-3 border-warning rounded-3 p-2" style="height:45vh; position:relative; ">
        <ul class="list-group h-100">
            <h5>About Me</h5>
        <li class="list-group-item h-50 overflow-auto rounded bg-dark text-light" style="border:none;">
        <p >{{user.about_me}}</p>
    </li>
    <h5>Skills</h5>
    <li class="list-group-item h-50 overflow-auto bg-dark text-light rounded" style="border:none;">
        
        <ul class="list-group align-bottom overflow-auto">
            {% for skill in skills %}
            <li class="list-group-item bg-dark text-light border-warning">
                <div class="row">
                    <div class="col">
                        {{skill.description}}
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </li>
    </ul>
    </div>
</div>
<div class="row">
    <h1 class="bg-dark text-light border border-3 border-warning rounded-3 p-2 m-auto" style="width:80vw;">Work Experience</h1>
    <hr>
    <ul class="list-group w-100 overflow-auto" style="max-height:65vh; ">
        {% for job in jobs %}
        <li class="list-group-item border border-3 border-warning bg-dark text-light " >
            <div class="row">
                <div class="col-md-auto">
                    <h4>{{job.title}}</h4>
                </div>
                <div class="col-md-auto">
                    <h5>-</h5>
                </div>
                <div class="col-md-auto">
                    <h5>{{job.company}}</h5>
                </div>
            </div>
            <div class="row">
                <p>{{job.start_date}} - {{ job.end_date if job.current == false else "Present" }} </p>
            </div>
            <hr class="m-0 p-0" style="height:1px;">
            <div class="row overflow-auto" style="height:8vh;">
                <p>{{job.description}}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="row">
    <h1 class="bg-dark text-light border border-3 border-warning rounded-3 p-2 mt-5 m-auto" style="width:80vw;">Education</h1>
    <hr>
    <ul class="list-group w-100 overflow-auto" style="max-height:40vh;">
        {% for degree in education %}
            <li class="list-group-item border border-3 border-warning bg-dark text-light">
            <div class="row">
                <div class="col md-auto">
                <h4>{{degree.degree}}</h4>
            <h5>{{degree.institution}}</h5>
            <p>{{degree.start_date}} - {{degree.graduation_date if degree.graduated == "True" else degree.graduation_date }} (projected)</p>
        </div>
    </div>
        </li>
        {% endfor %}
    </ul>
</div>
</div>
{% endblock %}
