{% extends "base.html" %}

{% block content %}
<div class="container mt-5" data-id="{{current_user.id}}" id="user-profile-container" style="position:relative;">
    <div class="btn btn-info" id="share-button" style="position:absolute; right:0; z-index:10;">Share Profile</div>
<div class="row mb-5 w-100 justify-content-between">
    <div class="col-4" style="height:45vh;">
        <div class="card h-100" style="width: 18rem;">
            <img src="{{user.profile_picture_url}}" class="card-img-top" style="height:28vh; object-fit:fill;">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title">{{current_user.first_name}}</h5>
                        <h5 class="card-title">{{current_user.last_name}}</h5>
                    </div>
                    <div class="col" style="text-align:right;">
                        <a class="btn btn-success" href="/users/{{current_user.id}}/edit">
                            Edit
                          </a>
                    </div>
                </div>
              <div class="col d-flex align-items-center justify-content-between" style="height:8vh;">
                {% if user.github_url %}
                <a class = "btn btn-secondary" href="{{user.github_url}}">GitHub</a>
                {% endif %}
                {% if user.linkedin_url %}
                <a class="btn btn-primary" href="{{user.linkedin_url}}">LinkedIn</a>
                {% endif %}
                {% if user.website_url %}
                <a class="btn btn-info" href="{{user.website_url}}">Website</a>
                {% endif %}
              </div>
              
            </div>
          </div>
    </div>
    <div class="col text-center" style="height:45vh; ">
        
        <ul class="list-group h-100">
            
            <h5>About Me</h5>
        <li class="list-group-item h-50 overflow-auto" style="border:none;">
        <p >{{user.about_me}}</p>
    </li>
    <h5>Skills</h5>
    <li class="list-group-item h-50 overflow-auto">
        
        <ul class="list-group align-bottom overflow-auto">
            {% for skill in skills %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col">
                        {{skill.description}}
                    </div>
                    <div class="col-md-auto" style="text-align:right;">
                        <a class="btn btn-success" href="/users/{{current_user.id}}/skills/{{skill.id}}/edit">
                            Edit
                        </a>
                    </div>
                </div>
            </li>
            {% endfor %}
            <a class = "text-decoration-none" href="/users/{{current_user.id}}/skills/add">
                <li class="text-center border-3 rounded border-success list-group-item mb-2">
                    Add Skill
                </li>
            </a>
        </ul>
    </li>
    </ul>
    </div>
</div>
<div class="row">
    <h1>Work Experience</h1>
    <hr>
    <ul class="list-group w-100 overflow-auto" style="max-height:65vh; margin-left:20px;">
        {% for job in jobs %}
        <li class="list-group-item mb-2 border-left border-3 border-right-0 border-top-0 border-bottom-0" style="margin-left:20px;">
            <div class="row">
                <div class="col-md-auto">
                    <h4>{{job.title}}</h4>
                </div>
                <div class="col-md-auto">
                    <h5>-</h5>
                </div>
                <div class="col-md-auto">
                    <h5>{{job.company}}</h5>
                </div>
                <div class="col" style="text-align:right;">
                    <a class="btn btn-success" href="/users/{{current_user.id}}/jobs/{{job.id}}/edit">
                        Edit
                    </a>
                </div>
            </div>
            <div class="row">
                <p>{{job.start_date}} - {{ job.end_date if job.current == false else "Present" }} </p>
            </div>
            <div class="row overflow-auto" style="height:8vh;">
                <p>{{job.description}}</p>
            </div>
            
        </li>
        {% endfor %}
        <a class = "text-decoration-none" href="/users/{{current_user.id}}/jobs/add">
            <li class="text-center border-3 rounded border-success list-group-item mb-2" style="margin-left:20px;">
                Add Job
            </li>
        </a>
    </ul>
</div>
<div class="row">
    <h1>Education</h1>
    <hr>
    <ul class="list-group w-100 overflow-auto" style="max-height:35vh; margin-left:20px;">
        {% for degree in education %}
            <li class="list-group-item mb-2 border-left border-3 border-right-0 border-top-0 border-bottom-0" style="margin-left:20px;">
            <div class="row">
                <div class="col md-auto">
                <h4>{{degree.degree}}</h4>
            <h5>{{degree.institution}}</h5>
            <p>{{degree.start_date}} - {{degree.graduation_date if degree.graduated == "True" else degree.graduation_date }} (projected)</p>
        </div>
        <div class="col" style="text-align:right;">
            <a class="btn btn-success" href="/users/{{current_user.id}}/education/{{degree.id}}/edit">
                Edit
            </a>
        </div>
    </div>
        </li>
        {% endfor %}
        <a class = "text-decoration-none" href="/users/{{current_user.id}}/education/add">
            <li class="text-center border-3 rounded border-success list-group-item mb-2" style="margin-left:20px;">
                Add Education
            </li>
        </a>
    </ul>
</div>
</div>
{% endblock %}
